/* line 1, app/assets/stylesheets/navbar.scss */
body {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  overflow-x: hidden;
}

/* line 8, app/assets/stylesheets/navbar.scss */
.contain {
  margin: 0;
  padding: 0;
  font-family: arial, serif;
  background-image: url("darker.jpg");
  background-size: cover;
  height: 900px;
  background-repeat: no-repeat;
  background-position: 0px -250px;
}

/* line 26, app/assets/stylesheets/navbar.scss */
.fade {
  height: 400px;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(1, 1, 1, 0.65)), color-stop(rgba(0, 0, 0, 0.65)), color-stop(rgba(0, 0, 0, 0.55)), to(#000001));
  background: linear-gradient(to bottom, rgba(1, 1, 1, 0.65), rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.55), #000001);
  background-size: cover;
  position: absolute;
  margin-top: 0px;
  display: block;
  background-attachment: fixed;
}

/* line 37, app/assets/stylesheets/navbar.scss */
.userbox {
  background-color: #424242;
  height: 110px;
  width: 1110px;
  margin: auto;
  padding-top: 100px;
  display: block;
}

/* line 49, app/assets/stylesheets/navbar.scss */
.userlast {
  background-color: red;
  height: 70px;
  position: relative;
}

/* line 55, app/assets/stylesheets/navbar.scss */
.usersname {
  margin-top: 23px;
  margin-left: 0px;
  padding-right: 5px;
  color: white;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  background-color: blue;
  display: inline-block;
}

/* line 67, app/assets/stylesheets/navbar.scss */
.lastonline {
  color: white;
  font-size: 10px;
  background-color: green;
  display: inline-block;
}

/* line 73, app/assets/stylesheets/navbar.scss */
.ava img {
  width: 50px;
  height: 50px;
  position: relative;
}

/* line 80, app/assets/stylesheets/navbar.scss */
.ava {
  padding-top: 5px;
  padding-left: 5px;
  margin-right: 0px;
  float: left;
}

/* line 88, app/assets/stylesheets/navbar.scss */
.usernavs {
  float: left;
  padding-left: 0px;
  padding-right: 0px;
  margin: 20px 0px 0px 0px;
}

/* line 95, app/assets/stylesheets/navbar.scss */
.usernavs ul {
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
}

/* line 100, app/assets/stylesheets/navbar.scss */
.usernavs li {
  display: inline-block;
  border: 1px solid white;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px 0px 0px 0px;
  position: relative;
  float: left;
}

/* line 109, app/assets/stylesheets/navbar.scss */
.lowerbox {
  background-color: darkblue;
  height: 80px;
  width: 1110px;
  margin: auto;
  margin-top: 50px;
  display: block;
}

/* line 119, app/assets/stylesheets/navbar.scss */
.lowerselect {
  list-style-type: none;
  padding-left: 0px;
  background-color: white;
}

/* line 125, app/assets/stylesheets/navbar.scss */
.lowerselect li {
  background: pink;
  width: 150px;
  float: left;
  border: 1px solid red;
}

/* line 131, app/assets/stylesheets/navbar.scss */
.datechoice {
  padding: 10px;
}

/* line 134, app/assets/stylesheets/navbar.scss */
.region {
  padding: 10px;
}

/* line 137, app/assets/stylesheets/navbar.scss */
.exchange {
  padding: 10px;
}

/* line 140, app/assets/stylesheets/navbar.scss */
.dateselect select {
  font-size: 20px;
}

/* line 143, app/assets/stylesheets/navbar.scss */
.regselect select {
  font-size: 20px;
}

/* line 146, app/assets/stylesheets/navbar.scss */
.exselect select {
  font-size: 20px;
}

/* line 151, app/assets/stylesheets/navbar.scss */
.wrapmid {
  height: 420px;
  background: gray;
  display: inline-block;
}

/* line 157, app/assets/stylesheets/navbar.scss */
.longsover {
  background-color: darkblue;
  list-style-type: none;
  height: 80px;
  width: 700px;
  margin-top: 10px;
  margin-bottom: 0px;
  display: inline-block;
  padding-top: 0px;
  margin-left: 0px;
  padding-left: 5px;
  float: left;
}

/* line 172, app/assets/stylesheets/navbar.scss */
.longsover li {
  background: pink;
  width: 130px;
  float: left;
  border: 1px solid red;
}

/* line 179, app/assets/stylesheets/navbar.scss */
.recenttrades {
  background-color: darkblue;
  height: 200px;
  width: 400px;
  margin-top: 10px;
  padding-top: 10px;
  float: right;
  display: inline-block;
  clear: both;
  margin-bottom: 10px;
}

/* line 192, app/assets/stylesheets/navbar.scss */
.onee {
  padding-top: 20px;
}

/* line 195, app/assets/stylesheets/navbar.scss */
.longover {
  font-size: 20px;
}

/* line 198, app/assets/stylesheets/navbar.scss */
.cardheader {
  color: white;
}

/* line 201, app/assets/stylesheets/navbar.scss */
.track {
  float: right;
}

/* line 204, app/assets/stylesheets/navbar.scss */
.result {
  color: white;
  display: inline-block;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

/* line 212, app/assets/stylesheets/navbar.scss */
.result li {
  line-height: 90%;
  height: 50px;
  width: 95px;
  float: left;
  border: 1px solid red;
}

/* line 219, app/assets/stylesheets/navbar.scss */
.title {
  font-size: 10px;
}

/* line 222, app/assets/stylesheets/navbar.scss */
.lss {
  font-size: 20px;
}

/* line 226, app/assets/stylesheets/navbar.scss */
.careerstats {
  height: 190px;
  width: 400px;
  background: red;
  float: right;
  display: inline-block;
  position: relative;
  margin-left: 0px;
}

/* line 237, app/assets/stylesheets/navbar.scss */
.careertrades {
  display: inline-block;
  list-style-type: none;
}

/* line 241, app/assets/stylesheets/navbar.scss */
.careertrades li {
  background: pink;
  width: 100px;
  float: left;
  border: 1px solid red;
}

/* line 249, app/assets/stylesheets/navbar.scss */
.orangetrending {
  margin-top: 10px;
  height: 200px;
  width: 700px;
  background: orange;
  display: inline-block;
}

/* line 275, app/assets/stylesheets/navbar.scss */
.lower {
  height: 1000px;
  width: 100%;
  color: white;
  background-color: black;
  position: absolute;
  background-attachment: fixed;
}

/* line 283, app/assets/stylesheets/navbar.scss */
.lower a {
  color: white;
}

/* line 290, app/assets/stylesheets/navbar.scss */
.main {
  top: 0;
  width: 100%;
  margin-top: 0;
  color: red;
  padding: 0px 0px 10px 0px;
  position: fixed;
  z-index: 1;
  -webkit-transition: background 1.2s;
  transition: background 1.2s;
}

/* line 302, app/assets/stylesheets/navbar.scss */
.change {
  background-color: rgba(0, 0, 0, 0.8);
}

/* line 305, app/assets/stylesheets/navbar.scss */
.nav-items {
  float: right;
  padding-right: 0px;
  padding-left: 0px;
  margin: 0px 0px 0px 0px;
}

/* line 311, app/assets/stylesheets/navbar.scss */
.nav-items li {
  padding-right: 10px;
  padding-left: 0px;
  display: inline-block;
  padding-top: 1px;
}

/* line 321, app/assets/stylesheets/navbar.scss */
.homesignup {
  margin: auto;
  padding: 180px 1px 200px 420px;
}

/* line 329, app/assets/stylesheets/navbar.scss */
.homesignup input {
  padding: 13px 30px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  width: 50%;
  font-size: 1.5em;
}

/* line 341, app/assets/stylesheets/navbar.scss */
.homesignup input:focus {
  outline: none;
  border: 0px solid;
  border-color: #f99e1a;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px 1px #f99e1a;
}

/* line 354, app/assets/stylesheets/navbar.scss */
.searchy input {
  border: none;
  padding-right: 10px;
  height: 24px;
}

/* line 359, app/assets/stylesheets/navbar.scss */
.searchy input:focus {
  outline: none;
  z-index: -1;
}

/* line 366, app/assets/stylesheets/navbar.scss */
.search {
  position: relative;
}
