  <div class="compIndex">
  <div id="companies_searchw" action="http://localhost:3000/users/3" accept-charset="UTF-8" method="get">
  <div class="csearch">
     <%= text_field_tag :search, 'Enter your search query here', id: "isearch" %>
   </div>
   </div>
<div class="myTrade">
</div>
<br>
<%= number_field_tag 'quantity', id: "ivolume" %>
<br>
<br>
<%= number_field_tag 'iprice' %>
<br>
<br>
<div>$: <%= number_field_tag 'total' %></div>
<div class="makeTrade"></div>



  </div>
