<div class="companies">
  <div class="wrapp">
  <div class="marquee">
    <div class="slide">
      <span class="spanner" data-url="<%= companies_url %>">


 <div>

 </div>


</span>
      </div>
  </div>
 </div>

</div>
