<head>
  <title>Sportfolio- Invest Your Way To The Top</title>
</head>
<body>
  <header>
      <div class="container">
        <div class="main">
          <%= link_to %>
          <nav>
            <div class"nav-items">

            </div>
          </nav>
        </div>

      </div>
  </header>

<h1>Staticpages#home</h1>
<p>Find me in app/views/staticpages/home.html.erb</p>
</body>
