/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .

 */

 @import 'bootstrap';





 .containerss {
   margin: 0;
   padding: 0;
   font-family: arial, serif;
   // background-image: url("8647.jpg");
   background-image: url("backgrnd.jpg");
   background-size: 1470px 780px;

   // padding-bottom: 1700px;
   // height: 550px;
   background-repeat: no-repeat;
   // background-attachment: fixed;

   background-position: 0px -250px;


 }
