// Place all the styles related to the companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


td {
  border-top: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.tick {
  color: #00b5e2;
}

.tick a {
  color: #00b5e2;
  text-decoration: none;
}
.tick a:visited {color:#00b5e2;}
.tick a:hover {color:#00b5e2;
  background: none;
}
.tick  a:active {color:#00b5e2;}
.CompIndex {
  width: 900px;
  margin: auto;
}
