body {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  overflow-x: hidden;
  width: 100vw;
  background-color: #1f1f1f;


}
@font-face {
    font-family: "Burbank";
    src: url("fonts/Burbank.otf");
}
@font-face {
    font-family: "Product";
    src: url("fonts/Product.ttf");
}
@font-face {
    font-family: "Uni";
    src: url("fonts/Uni.otf");
}

.containerss {
  margin: 0;
  padding: 0;
  font-family: arial, serif;
  // background-image: url("8647.jpg");
  background-image: url("taxi.jpg");
  position: absolute;
  left: 0px;
  top: 0;
  height: 300px;
  width: 100vw;
  background-size: cover;
  background-position: bottom;
  border-bottom: 4px solid #656565;
}
.offset {
  width: 800px;
  position: relative;
  left: 50%;
}
.centerset {
  margin-top: 10px;
  width: 800px;
  position: relative;
  // display: flex;
  left: -50%;
  // background-color: orange;
  height: 80px;

}
.homenav {
  width: 100%;
  height: 80px;
  top: 0;
  position: fixed;
  // background: black;
  z-index: 1;
}
.searchhold {
 overflow: auto;
 width: 400px;
 height: 30px;
 display: flex;
 padding: 3px;
 margin-right: 20px;
 background-color: rgba(255,255,255,.50);
}
.refSearch{
  position: relative;
  // width: 100px;
  // height: 100px;
  // display: inline-block;
  // margin-top: 10px;
  // margin-bottom: 20px;
  // bottom: 10%;
  // margin-right: 10px;
  // display:inline-block;
  overflow: auto;
  text-align: center;
  // background: green;
  font-size: 17px;
  border: none;
  margin-top: 5px;
  cursor: pointer;
  padding: 0px 10px;
  // background-color: rgba(255,255,255,.50);
}
.inputsm {
  display: flex;
}
#inputTxt {
  color: white;
  background-color: transparent;
  height: 25px;
  border-style: none;
}
#inputTxt::placeholder {
  color: white;
}
.fa {
  color: white;
}
.fa-facebook-f {
  margin-right: 10px;
  color: white;
}
.fa-user {
  color: white;
}
.signup a {
 // color: white;
 text-decoration: none;
 color: rgba(255,255,255,.70);
 font-family: "Uni";
 font-weight: 300;
 margin-left: 5px;
}
.signup a:hover {
 // color: white;
 background-color: transparent;
 color: white;
}
.signup {
 // padding-top: 0px;
 // padding-left: 100px;
 margin-left: auto;
 margin-top: 5px;
 height: 20px;
 width: 160px;
 // text-decoration: none;
 // user-select: none;
 // background-color: blue;
 color: rgba(255,255,255,.70);
 // overflow: auto;
}
 .logo {
  // padding-top: 20px;
  // padding-left: 10px;
  margin-top: 5px;
  margin-right: 50px;
  float: left;
  font-family: "Digitalis";
  text-decoration: none;
  font-size: 2em;
  font-weight: 400;
  user-select: none;
  height: 30px;
 }

 .logo a {
  color: white;
  text-decoration: none;
 }
 .logo a:hover {
  background-color: transparent;
  text-decoration: none;
 }
 .topset {
   width: 100%;
   height: 30px;
   display: flex;
 }
 .bottomset {
   overflow: auto;
   // background-color: lightgreen;
   // height: 30px;
   // width: 200px;
   display: flex;
   margin: 0 auto;
   margin-top: 10px;
   width: 600px;
 }

 .burbank {
   font-family: "Burbank";
 }
 .mybox {
   height: 30px;
   width: 30px;
   background-color: black;
 }
.setlist li {
  float: left;
  padding: 0px 10px;
  font-style: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: rgba(255,255,255,.30);

}
.setlist {
  list-style: none;
}

.containsm {
  margin: 0 auto;
  margin-top: 140px;
  width: 800px;
  // background-color: red;
  position: relative;
  left: -50%;
}
.offsetsm {
  width: 800px;
  position: relative;
  left: 50%;
}

.tsm {
  margin: 0 auto;
  color: white;
  font-family: "Burbank";
  font-weight: bold;
  font-size: 40px;
  width: 260px;
  // background-color: green;
  padding: 10px;
}
.csm {
  margin: 0 auto;
  background-color: white;
  width: 330px;
  padding: 5px;
  border-radius: 2.5px;
}
#containTxt {
  // margin: 0 auto;
  height: 30px;
  width: 300px
}
input {
  border: none;
}
textarea:focus, input:focus{
    outline: none;
}
.boxsetwrap {
  width: 600px;
  height: 200px;
  background-color: gray;
  // margin: 0 auto;
  top: 260px;
  left: 50%;
  position: absolute;
}
.boxsetinner {
  width: 630px;
  height: 200px;
  // background-color: yellow;
  // margin: 0 auto;
  // top: 250px;
  display: flex;
  left: -50%;
  position: relative;
}
.boxset{
  width: 190px;
  height: 80px;
  background-color: white;
  // border: 1px solid blue;
  border-radius: 1.5px;
  margin: 0 auto;
  // top: 250px;
  // left: -50%;
  // position: relative;
}
.rboxset{
 width: 100%;
 height: 19px;
 background-color: red;
}
.gboxset{
  width: 100%;
  height: 19px;
  background-color: green;
}
.yboxset{
  width: 100%;
  height: 19px;
  background-color: yellow;
}
.lcontainer {
  margin-top: 410px;
  width: 800px;
  left: 50%;
  position: relative;
  // background: pink;
  // overflow: auto;
}
.covcontainer {

 width: 800px;
 overflow: auto;
 position: relative;
 left: -50%;
 // background-color: green;
 display: flex;
}
.newscontainer {
 overflow: auto;
}
.newsbox {
 overflow: hidden;
 background-color: rgba(255,255,255,.20);
 height: 100px;
 width: 500px;
 position: relative;
 display: flex;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}
.nimg {
  max-width:200px;
  max-height:100px;
}
.minileaderboard {
  background-color: black;
 overflow: auto;


  // padding-left: 300px;
  // padding-top: 10px;
 position: relative;
 height: 250px;
}
.leadandonline {

 overflow: auto;
 width: 35%;
 margin-left: auto;
  // padding-left: 300px;
  // padding-top: 10px;
 position: relative;

}

.minileaderboard td{
 height: 10px;
}
.minileaderboard tr:nth-child(odd){
  background-color: rgba(255,255,255,.10);
}
.minileaderboard th{
  background-color: black;
}
.minileaderboard table{
 color: white;
}

.minileaderboard td img{
 height: 15px;
 width: 15px;
}
.minileaderboard th, .minileaderboard tr {
 border: 1px solid gray;

}
.extracont {
  margin-left: 4px;
}
.extratitle {
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  width: 97%;
}
.extrapub {
  font-size: 10px;
  font-weight: bold;
  font-family: serif;
  color: rgba(255,255,255,.40);

}
.onlinenow {
  margin-top: 10px;
  background-color: #242527;
  box-shadow: 0 1px 3px rgba(0,0,0,.2);
  // height: 32px;
  overflow: auto;
  // position: absolute;

}

.reffooter {
  margin-top: 300px;
    display: flex;
    position: relative;
    width: 100%;
    left: -50%;
    top: 90%;
    height: 250px;

    transform: translateY(-100%);
  }

    .reffoot1 {
        display: flex;
        // position: relative;
        width: 50%;
        // left: 0;
        // float: left;
        height: 100%;
      }
      .reffoot1le {
          // display: flex;
          // position: relative;
          width: 50%;
          // left: 0;
          // float: left;
          height: 100%;
        }
        .reffoot1ri {
          // display: flex;
            // display: inline-block;
            // position: relative;
            width: 50%;
            // float: right;
            height: 100%;
          }

      .reffoot2 {
        display: flex;
          // display: inline-block;
          // position: relative;
          width: 50%;
          // float: right;
          height: 100%;
        }
        .reffoot2le {
            // display: flex;
            // position: relative;
            width: 50%;
            // left: 0;
            // float: left;
            height: 100%;
          }
          .reffoot2ri {
            // display: flex;
              // display: inline-block;
              // position: relative;
              width: 50%;
              // float: right;
              height: 100%;
            }
.reffooter ul {
    list-style: none;
      }
.reffooter li {
    color: rgba(255,255,255,.50);
    }
    .reffooter li h2 {
        color: yellow;
        font-family: Arial;
        font-size: 19px;
        }
      .reffooter li a{
        text-decoration: none;
        }


.appst {
  background-color: white;

  text-align: center;
  // left: -50%;
  position: relative;
  // padding-left: 50px;
  font-family: "Uni";
  font-weight: bold;
  font-size: 20px;
  width: 100vw;
  color: black;
  padding: 10px 0px;
  padding-right: 50px;

}
.fa-google-play {
 color: #B45B3C;
}
.fa-app-store-ios {
  color: #0789F1;
}
.fa-discord {
 color: #B6B7F7;

}
.google {
  display: inline-block;
 color: #B45B3C;
 font-family: "Product";
}
.ios {
  display: inline-block;
  color: #0789F1;
  font-family: arial;
}
.discord {
  display: inline-block;
 color: #B6B7F7;
 font-family: "Uni";
}
.gm {
  font-size: 16px;
  margin-left: 10px;
}
.acontainer {
  margin-top: 100px;
  width: 800px;
  left: 50%;
  position: relative;
  // background: pink;
  // overflow: auto;
}












//  style for nav bar
.main {
  top: 0;
  width: 100%;
  margin-top: 0;
  background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.0), rgba(0,0,0,0.4), rgba(0,0,0,0.9));
   color: red;
//   text-align: center;
   padding: 0px 0px 10px 0px;
   position: fixed;
   z-index: 1;
   transition: background 1.2s;
}
.change {
    background-color: rgba(0,0,0,0.8);
}
// .nav-items {
//   float: right;
//   padding-right: 0px;
//   padding-left: 0px;
//   margin: 0px 0px 0px 0px;
// }
// .nav-items li {
//   padding-right: 10px;
//   padding-left: 0px;
//   display: inline-block;
//   padding-top: 1px;
//
// }

// homepage sign up field

.homesignup {
  margin: auto;
  // width: 37%;
  padding: 180px 1px 200px 420px;
}


.homesignup input {
    // width: 100%;
    padding: 13px 30px;
    // margin: 8px 0;
    // display: inline-block;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    width: 50%;
    font-size: 1.5em;
}

.homesignup input:focus {
 outline:  none;
 border: 0px solid;
 border-color: #f99e1a;
 box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px 1px #f99e1a;

}






.searchy input {
 border: none;
 padding-right: 10px;
 height: 24px;
}
.searchy input:focus {
outline: none;
z-index: -1;
}
.searchy input:hover {

}
.search {
  position: relative;
}
// .fa {
//   color: white;
//   opacity: 0.6;
//   position: absolute;
//   left: 205px;
//   bottom: 5px;
//   transform: scale(0.8,0.8);
// }
.iconfocus {
  color: black;
}

.fa.iconhover {
  opacity: 1;
}
.space {
padding-left: 10px;
border: solid 2px;
border-color: gray;
border-radius: 4px;
background: white;
 opacity: .2;
 height: 26px;
 width: 218px;

}
.spacefocus {
background: white;
border-color: #B3B3B3;
opacity: 1;
}
@font-face {
    font-family: "Digitalis";
    src: url("DIGITALI.TTF");
}
.nav-items a {
    background-color: transparent;
    color: white;
    opacity: 0.85;
    text-decoration: none;
    padding: 0 0 10px 0;
    font-family: 'Rokkitt', serif;
    font-size: 1.2em;
    font-stretch: expanded;
}
.nav-items a:hover {
  background-color: transparent;
  color: #9C0E62;
  font-weight: 600;
}




.companies {

//   padding-bottom: 100px;

  border-top: 3px solid black;
//   // position: relative;
  margin-bottom: 0px;

  width: 1470px;


}





// *  style for horizontal scrolling feed

.wrapp {
//   margin: 0;
//   // font-size: 50px;
//   // font-family: sans-serif;
//   color: #333;
//   overflow: hidden;
  background-color: black;
  opacity: 0.8;
  width: cover;
  overflow: hidden;

}

.spn {
  padding-top: 29px;
  white-space:nowrap;
  width: 100px;
  height: 50px;
  font-size: 10px;
  display: inline;
  margin: 0 30.7px;
  float: left;
  transition: all .2s ease-out;



}

.marquee {
  height: 100px;
  width: 100%;
  // background: white;

  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding-bottom: 0px;

}

.slide {
  display: block;
  width: 100%;
  // margin: 40px 0;
  padding-top: 0px;
  position: absolute;
  animation: marquee 20s linear infinite;
  white-space: nowrap;
}


.spanner {
  float: left;
  height: 48px;
  width: 500%;
}

@keyframes marquee {
  0% { left: 5px; }
  100% { left: -50%; }
}


span .change-price {
  color: #7bee5b;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  // font-weight: bold;
}

.low-price {
  color: red;
}

.ticker {
  color: white;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.currentprice {
  color: white;
  font-size: 19px;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}

.vole {
  font-size: 11px;
  color: lightgray;
  font-family: 'Open Sans', sans-serif;
  font-weight: light;
  opacity: 0.8;
}

.volume {
  color: white;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}
// signup form

.usersignup {
  padding-top: 200px;
  padding-left: 700px;
}



















.midn {
  background-color: tomato;
  height: 500px;
  width: 1500px;
  margin-top: 0px;
  padding-bottom: 100px;

}
.activetrade {
  background-color: red;
  height: 92px;
  width: 293px;
  // padding-left: 300px;
  margin-left: 690px;
  margin-top: 30px;
  // padding-top: 10px;

}

#tradersnow {
  color: white;
  margin-left: 80px;
  margin-top: 8px;
  font-size: 14px;
  position: relative;
}



.leaderboardrank {
  color: lightgreen;
}

.leaderboardrank50 {
  color: #FFE033;
}














// .inner {
//   // position: absolute;
// }

#scontainer {
  background-color: red;
  overflow: hidden;

  width: 100%;
  border: 15px solid orange;
}

#innerone {
  overflow: hidden;
  width: 100%;

}

.child {
  background-color: blue;
  text-align: center;
}
