body {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
    overflow-x: hidden;
}

.containerss {
  margin: 0;
  padding: 0;
  font-family: arial, serif;
  // background-image: url("8647.jpg");
  background-image: url("backgrnd.jpg");
  background-size: 1470px 780px;

  // padding-bottom: 1700px;
  // height: 550px;
  background-repeat: no-repeat;
  // background-attachment: fixed;

  background-position: 0px -250px;


}



//  style for nav bar
.main {
  top: 0;
  width: 100%;
  margin-top: 0;
  background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.0), rgba(0,0,0,0.4), rgba(0,0,0,0.9));
   color: red;
//   text-align: center;
   padding: 0px 0px 10px 0px;
   position: fixed;
   z-index: 1;
   transition: background 1.2s;
}
.change {
    background-color: rgba(0,0,0,0.8);
}
// .nav-items {
//   float: right;
//   padding-right: 0px;
//   padding-left: 0px;
//   margin: 0px 0px 0px 0px;
// }
// .nav-items li {
//   padding-right: 10px;
//   padding-left: 0px;
//   display: inline-block;
//   padding-top: 1px;
//
// }

// homepage sign up field

.homesignup {
  margin: auto;
 // width: 37%;

padding: 180px 1px 200px 420px;
}


.homesignup input {
    // width: 100%;
    padding: 13px 30px;
    // margin: 8px 0;
    // display: inline-block;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    width: 50%;
    font-size: 1.5em;
}

.homesignup input:focus {
 outline:  none;
 border: 0px solid;
 border-color: #f99e1a;
 box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px 1px #f99e1a;

}






.searchy input {
 border: none;
 padding-right: 10px;
 height: 24px;
}
.searchy input:focus {
outline: none;
z-index: -1;
}
.searchy input:hover {

}
.search {
  position: relative;
}
.fa {
  color: white;
  opacity: 0.6;
  position: absolute;
  left: 205px;
  bottom: 5px;
  transform: scale(0.8,0.8);
}
.iconfocus {
  color: black;
}

.fa.iconhover {
  opacity: 1;
}
.space {
padding-left: 10px;
border: solid 2px;
border-color: gray;
border-radius: 4px;
background: white;
 opacity: .2;
 height: 26px;
 width: 218px;

}
.spacefocus {
background: white;
border-color: #B3B3B3;
opacity: 1;
}
@font-face {
    font-family: "Digitalis";
    src: url("DIGITALI.TTF");
}
.nav-items a {
    background-color: transparent;
    color: white;
    opacity: 0.85;
    text-decoration: none;
    padding: 0 0 10px 0;
    font-family: 'Rokkitt', serif;
    font-size: 1.2em;
    font-stretch: expanded;
}
.nav-items a:hover {
  background-color: transparent;
  color: #9C0E62;
  font-weight: 600;
}

 .logo {
  padding-top: 20px;
  padding-left: 10px;

  float: left;
  font-family: "Digitalis";
  text-decoration: none;
  font-size: 2.5em;
  font-weight: 400;
  user-select: none;
}

.logo a {
  color: white;
  text-decoration: none;
}
.logo a:hover {
  background-color: transparent;
  text-decoration: none;
}
.signup {
 padding-top: 0px;
 padding-left: 100px;
 float: right;
 text-decoration: none;
 user-select: none;
}

.companies {

//   padding-bottom: 100px;

  border-top: 3px solid black;
//   // position: relative;
  margin-bottom: 0px;

  width: 1470px;


}





// *  style for horizontal scrolling feed

.wrapp {
//   margin: 0;
//   // font-size: 50px;
//   // font-family: sans-serif;
//   color: #333;
//   overflow: hidden;
  background-color: black;
  opacity: 0.8;
  width: cover;
  overflow: hidden;

}

.spn {
  padding-top: 29px;
  white-space:nowrap;
  width: 100px;
  height: 50px;
  font-size: 10px;
  display: inline;
  margin: 0 30.7px;
  float: left;
  transition: all .2s ease-out;



}

.marquee {
  height: 100px;
  width: 100%;
  // background: white;

  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding-bottom: 0px;

}

.slide {
  display: block;
  width: 100%;
  // margin: 40px 0;
  padding-top: 0px;
  position: absolute;
  animation: marquee 20s linear infinite;
  white-space: nowrap;
}


.spanner {
  float: left;
  height: 48px;
  width: 500%;
}

@keyframes marquee {
  0% { left: 5px; }
  100% { left: -50%; }
}


span .change-price {
  color: #7bee5b;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  // font-weight: bold;
}

.low-price {
  color: red;
}

.ticker {
  color: white;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.currentprice {
  color: white;
  font-size: 19px;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}

.vole {
  font-size: 11px;
  color: lightgray;
  font-family: 'Open Sans', sans-serif;
  font-weight: light;
  opacity: 0.8;
}

.volume {
  color: white;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}
// signup form

.usersignup {
  padding-top: 200px;
  padding-left: 700px;
}



















.midn {
  background-color: tomato;
  height: 500px;
  width: 1500px;
  margin-top: 0px;
  padding-bottom: 100px;

}
.activetrade {
  background-color: #212121;
  height: 92px;
  width: 293px;
  // padding-left: 300px;
  margin-left: 690px;
  margin-top: 30px;
  // padding-top: 10px;
  position: absolute;
}
.onlinenow {
  background-color: #242527;
  box-shadow: 0 1px 3px rgba(0,0,0,.2);
  height: 32px;
  width: cover;
  position: absolute;

}
#tradersnow {
  color: white;
  margin-left: 80px;
  margin-top: 8px;
  font-size: 14px;
  position: relative;
}


.inner {
  // position: absolute;
}

#scontainer {
  background-color: red;
  overflow: hidden;

  width: 100%;
  border: 15px solid orange;
}

#innerone {
  overflow: hidden;
  width: 100%;

}

.child {
  background-color: blue;
  text-align: center;
}
