<p id="notice"><%= notice %></p>

<h1>Trades</h1>

<p><% @trades.each do |t| %></p>
<p><%= t.id %></p>
<p><% end %></p>
<p><%= @trades.where(tradetype: "Long").select(:stock).map(&:stock).uniq.count %>


</p>


<br>
